* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

/* body {
  height: 100vh;
} */

/* START UP */

ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

body {
  font-size: 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

button {
  font-size: 2rem;
}

img {
  height: 50px;
  width: auto;
}

#start-game {
  min-width: 700px;
  max-width: 1000px;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr repeat(2, 3fr) 1fr;
  gap: 15px;
}

#randomize {
  display: flex;
  flex-direction: row;
}

.player-startup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "pfp figure-choice color-choice"
    "pfp input color-choice";
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

article img {
  height: 250px;
  width: 250px;
}

ul button {
  height: 30px;
  width: 100px;
  font-size: 1.43rem;
}

.highlight {
  background-color: green;
}

#start-game-button {
  font-size: 3rem;
}

.player-startup > img {
  height: 250px;
  width: auto;
  grid-area: pfp;
}
.player-startup > h1 {
  grid-area: h1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player-startup > input {
  grid-area: input;
  height: 100px;
  font-size: 2rem;
}
.player-startup > .color-choice {
  grid-area: color-choice;
}
.player-startup > .figure-choice {
  grid-area: figure-choice;
}

/* MAIN GAME */
#main-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#main-game-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 90px;
}

@media only screen and (min-width: 1280px) {
  #main-game-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.buttons {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: min(5%, 90px);
  width: 100vw;
}

.buttons button {
  height: 80%;
  width: 450px;
}

#main-game article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-game > #finish-button {
  height: 15%;
}

.player-section {
  display: flex;
  flex-direction: column;
}

#game-info {
  text-align: center;
}

#gameboard {
  height: auto;
  width: 100%;
  display: grid;
  grid-template: repeat(3, 150px) / repeat(3, 150px);
  place-content: center;
}

#gameboard > button {
  height: 100%;
  width: 100%;
  /* font-size: 10rem; */
}
